<div>Fishing</div>
<div>Fishing level :  {{player.fishingLevel}}</div>
<span class="p-2">
    <span class="p-1">You have {{ player.getNbItemInInventory(itemId.RawFish) }} raw fish</span>
    <button (click)="getFish(itemId.RawFish)">Get 1 raw fish</button>
</span>
<span class="p-2">
    @if (player.fishingLevel >= 5) {
        <span class="p-1" v-if="player.fishingLevel >= 5">You have {{ player.getNbItemInInventory(itemId.RawCatfish) }} raw catfish</span>
        <button (click)="getFish(itemId.RawCatfish)">Cook 1 catfish</button>
     }
</span>