<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Groupe de produits</title>

		<script src="./petite-vue.iife.js"></script>
		<script src="./chart.min.js"></script>
		<script src="./chartjs-adapter-date-fns.bundle.min.js"></script>		
		<script>
			//default products of data.json from https://localhost:7136/GroupProducts?pageSize=100000&products1price=true&sort=MaxDate
			var products = {
				"pageIndex":1,
				"totalPages":1,
				"data":[
					{"id":7065,"name":"APERITIFS","group":"APERITIFS","min":3.49,"max":3.49,"previousPrice":3.49,"lastPrice":3.49,"lastPricePerKilo":0,"minDate":"2024-05-25T00:00:00","maxDate":"2024-05-25T00:00:00","priceRatio":1.00,"pricesCount":2},
					{"id":7384,"name":"TOURNEDOS ","group":"VOL.LS STANDARD","min":4.38,"max":4.87,"previousPrice":4.56,"lastPrice":4.57,"lastPricePerKilo":0,"minDate":"2021-10-22T00:00:00","maxDate":"2023-10-27T00:00:00","priceRatio":1.11,"pricesCount":5}
				],
				"hasPreviousPage":false,
				"hasNextPage":false
			}
			//default prices of prices.json from https://localhost:7136/Products?sort=DateReceipt&pageSize=100000
			var prices = {
				"pageIndex":1,
				"totalPages":1,
				"data":[
					{"pricePerKilo":7.62,"id":7862,"name":"APERITIFS","group":"APERITIFS","price":4.57,"dateReceipt":"2025-02-15T00:00:00","sourceName":"Ticket de caisse_15022025-170134.pdf","sourceLine":10,"fullData":"APERITIFS                4,57 €  11"},
					{"pricePerKilo":6.57,"id":7863,"name":"APERITIFS","group":"APERITIFS","price":3.94,"dateReceipt":"2025-02-10T00:00:00","sourceName":"Ticket de caisse_15022025-170134.pdf","sourceLine":11,"fullData":"APERITIFS                3,94 €  11"}
				],
				"hasPreviousPage":false,
				"hasNextPage":false
			}
		</script>
		<script src="data.json"></script>
		<script src="prices.json"></script>
		<script type="module">
			//import { createApp } from "https://unpkg.com/petite-vue?module";

			PetiteVue.createApp({
				//variables
				filterGroup: "",
				filterName: "",
				filterGroupSubmitted: "",
				filterNameSubmitted: "",
				products: window.products.data,
				prices: window.prices.data,
				modalProductsPrices: false,
				modalProductName: "",
				pricesStartAt0: false,
				// methods
				submit() {
					this.filterGroupSubmitted = this.filterGroup;
					this.filterNameSubmitted = this.filterName;
				},
				filteredData() {
					if (this.filterNameSubmitted.length > 0 || this.filterGroupSubmitted.length > 0) {
						return this.products.filter(product =>
							product.name.toLowerCase().includes(this.filterNameSubmitted.toLowerCase())
							&& product.group.toLowerCase().includes(this.filterGroupSubmitted.toLowerCase())
						).slice(0, 30);
					} else {
						return this.products.slice(0, 30);
					}
				},
				filteredPrices(name) {
					return this.prices.filter(product =>
						product.name == name
					);
				},
				formatDate(date) {
					var options = {
						year: 'numeric',
						month: '2-digit',
						day: 'numeric'
					};
					var d = new Date(date.slice(0, 10))
					return d.toLocaleString(navigator.language ? navigator.language : navigator['userLanguage'], options)
            	},
				showModalProductsPrices(name) {
					this.modalProductsPrices = true;
					this.modalProductName = name;

					this.createChart();

					myDialog.show();
				},
				closeModalProductsPrices() {
					this.modalProductsPrices = false;

					this.destroyChart();

					myDialog.close();
				},
				createChart() {
					var data = this.filteredPrices(this.modalProductName);

					this.pricesStartAt0 = false;

					var xValues = [];
					var yValues = [];

					for (let index = data.length - 1; index >= 0 ; index--) {
						const element = data[index];
						var d = element.dateReceipt.substring(0, 10)
						//console.log(d)
						//xValues.push(new Date(d))
						xValues.push(d)
						yValues.push(element.price);
						//console.log(xValues[xValues.length - 1])
					}

					var myChart = new Chart("myChart", {
						type: "line",
						data: {
							labels: xValues,
							datasets: [{
							fill: false,
							lineTension: 0,
							label: this.modalProductName,
							backgroundColor: "rgba(0,0,255,1.0)",
							borderColor: "rgba(0,0,255,0.1)",
							data: yValues
							}]
						},
						options: {
							plugins: {
								legend: {display: true},
							},
							scales: {
								x: {
									type: "time",
								}
							}
						}
					});
				},
				destroyChart() {
					let chartStatus = Chart.getChart("myChart");
					if (chartStatus != undefined) {
  						chartStatus.destroy();
					}
				},
				changeChartYAxis() {
					let myChart = Chart.getChart("myChart");
					if (myChart != undefined) {
						if (!this.pricesStartAt0) {
							myChart.options.scales.y = { min: 0 }
							this.pricesStartAt0 = true;
						} else {
							myChart.options.scales.y = {  }
							this.pricesStartAt0 = false;
						}
						myChart.update()
					}
				}
			}).mount();
		</script>
	</head>
	<body>
		<div v-scope v-cloak>

			<dialog id="myDialog">
				<button @click="closeModalProductsPrices" style="float: right;">X</button>
				<h1>Historique des prix</h1>
				<canvas id="myChart"></canvas>
				<label>Prix commencent à 0<input v-model="pricesStartAt0" type='checkbox' @click='changeChartYAxis();'></label>
			</dialog>
			<div v-show="modalProductsPrices" class="modal-overlay" #overlay @click="closeModalProductsPrices"></div>

			<div>
				<Label>Filtrer par groupe:</Label>
				<input type="text" v-model="filterGroup">
			</div>
			<div>
				<Label>Filtrer par nom:</Label>
				<input type="text" v-model="filterName">
			</div>
			<button @click="submit">Recherche</button>
			<table class="alternateLines">
				<thead>
					<tr>
						<th>Id</th>
						<th>Groupe</th>
						<th>Nom</th>
						<th>Min</th>
						<th>Max</th>
						<th>Précédent prix</th>
						<th>Dernier prix</th>
						<th>Dernier prix au kilo</th>
						<th>Tendance</th>
						<th>Date min</th>
						<th>Date max</th>
						<th>Rapport des prix</th>
						<th>Nombre de prix</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>

					<tr v-for="groupProduct in filteredData()">
						<td>{{ groupProduct.id }} </td>
						<td>{{ groupProduct.group }}</td>
						<td>{{ groupProduct.name }}</td>
						<td>{{ groupProduct.min }}</td>
						<td>{{ groupProduct.max }}</td>
						<td>{{ groupProduct.previousPrice }}</td>
						<td>{{ groupProduct.lastPrice }}</td>
						<td>{{ groupProduct.lastPricePerKilo }}</td>
						<td>
							<span v-if="groupProduct.lastPrice > groupProduct.previousPrice" style="color:red">&#x2197;</span>
							<span v-else-if="groupProduct.lastPrice == groupProduct.previousPrice">=</span>
							<span v-else style="color:green">&#x2198;</span>
						</td>
						<td>{{ formatDate(groupProduct.minDate) }}</td>
						<td>{{ formatDate(groupProduct.maxDate) }}</td>
						<td>{{ groupProduct.priceRatio.toFixed(2) }}</td>
						<td>{{ groupProduct.pricesCount }}</td>
						<td><button @click="showModalProductsPrices(groupProduct.name)">Prix</button></td>
					</tr>

				</tbody>
			</table>

		</div>
	</body>
</html>
<style>
	label {
		display: inline-block;
		 width: 150px;
	}
	table.alternateLines > tbody > tr:nth-child(even) {
 	   background-color: #888888;
	}
	dialog {
		background-color: rgba(255, 255, 255, 1);
		/*color: white;*/
		border-color: transparent;
		overflow: hidden;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: 0 0 20px 8px #d0d0d0;
		width: 75vw;
		z-index: 3;
	}
	.modal-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
</style>