body {
  background-color: #fff;
}

.menu {	
}
.menu-item {  
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 7px;
  color: #999;
  border: solid 1px #999;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 2px;
  line-height: 0;
  background-color: #fff;
}

.menu-item {	
  width: 32px;
  height: 32px;
}
/* big buttons for android */
@media only screen and (hover: none) {
	.menu-item {
	  width: 20%;
	  height: 20%;
	}
}

.menu-item:hover {
  background-color: #eee;
  border-color: #888;
}
.menu-item:focus {
  outline: thin dotted;
  outline-offset: -2px;
}