@inherits LayoutComponentBase
@using ReceiptsBlazorWinForms.Components.Pages
@inject IStringLocalizer<Resource> Localize

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CultureSelector />
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">@Localize["About"]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    @Localize["An unhandled error has occurred."]
    <a href="" class="reload">@Localize["Reload"]</a>
    <a class="dismiss">🗙</a>
</div>
