.selectedItem {
    font-weight: bold;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.right {
    background-color: rgb(250, 250, 250);
    width: 200px;
    float: right;
}