<span>Inventory</span>
<section>
    <aside class="right ms-3">
        <div>
            @if (selectedId==-1)
            {
                <span>No item selected</span>
            }
            @else
            {
                <span>{{ selectedItem?.Name }}</span>
                <br>
                <span>{{ selectedItem?.Description }}</span>
            }
        </div>
        <br>
        <input [disabled]="selectedId==-1" [(ngModel)]="range" type="range" min="1" [max]="selectedItem==undefined ? 1 : selectedItem.Count" class="slider" id="myRange">
        <button [disabled]="selectedId==-1" (click)="sellItem()">Sell {{ range }}</button>
    </aside>

    <div [nxtSortablejs]="player.inventory" class="items">
        @for(element of player.inventory; track element.Id) {
        <span class="item p-1"
            [style]="{background: typeColor(element.Type)}"
            (click)="selectItem(element.Id)"
            (mouseover)="hoverId = element.Id" (mouseleave)="hoverId = -1">
            <div class="d-inline-flex flex-column">
                <span [class.selectedItem]="selectedId==element.Id">{{element.Name}} x {{element.Count}}</span>
                @if (hoverId==element.Id) {
                <span class="m-2">
                    {{element.Description}}
                </span>
                }
            </div>
        </span>
        }
    </div>
</section>