@if (loading == true) {
    <span>En cours de chargement</span>
}
@else
{
    <div class="form-actions no-color">
        <p>
            Filtrer par groupe
            <select
                [(ngModel)]="filterGroup"
                (change)="onGroupChange()"
                >
                @for (filter of filterGroupValues; track $index) {
                    <option value="{{filter}}">{{filter}}</option>
                }
            </select>
        </p>

        <p>
            Trouver par nom
            <!--<input [(ngModel)]="searchString">-->
            <input auto-complete [(ngModel)]="searchString" [source]="productsNames" style="width:400px;"/>
        </p>

        <p>
            Trier par
            <select
                [(ngModel)]="sort">
                <option value="Group">Groupe</option>
                <option value="PriceRatio">Rapport des prix</option>
                <option value="PricesCount">Nombre de prix</option>
                <option value="MaxDate">Date max</option>
            </select>
        </p>

        Inclure les produits avec un seul prix <input type="checkbox" [(ngModel)]="products1price">
        <br>
        <button
            (click)="submitChanges()"
            > Recherche
        </button>

        <a class="btn btn-default btn-lg" (click)="init()" title="Effacer">
            <i class="bi bi-eraser"></i>
        </a>
    </div>
    <br>
    <table class="table alternateLines">
        <thead>
            <tr>
                <th>Id</th>
                <th>Groupe</th>
                <th>Nom</th>
                <th>Min</th>
                <th>Max</th>
                <th>Date min</th>
                <th>Date max</th>
                <th>Rapport des prix</th>
                <th>Nombre de prix</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for(groupProduct of results; track groupProduct.id) {
            <tr>
                <td>{{ groupProduct.id }} </td>
                <td>{{ groupProduct.group }}</td>
                <td>{{ groupProduct.name }}</td>
                <td>{{ groupProduct.min }}</td>
                <td>{{ groupProduct.max }}</td>
                <td>{{ formatDate(groupProduct.minDate) }}</td>
                <td>{{ formatDate(groupProduct.maxDate) }}</td>
                <td>{{ groupProduct.priceRatio.toFixed(2) }}</td>
                <td>{{ groupProduct.pricesCount }}</td>
                <td>
                    <a routerLink="/details/{{groupProduct.id}}" class="bi bi-info-circle" title="Détails"></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <span>{{ pageIndex }} sur {{totalPages}}</span>
    <button (click)="pageNumber = 1; submitChanges()"
        [disabled]="pageIndex == 1">
        Première
    </button>
    <button (click)="pageNumber = pageIndex - 1; submitChanges()"
        [disabled]="hasPreviousPage == false">
        Précédente
    </button>
    <button (click)="pageNumber = pageIndex + 1; submitChanges()"
        [disabled]="hasNextPage == false">
        Suivante
    </button>
    <button (click)="pageNumber = totalPages; submitChanges()"
        [disabled]="pageIndex == totalPages">
        Dernière
    </button>

    Taille de page
    <select
        [(ngModel)]="pageSize"
        class="w6"
        (change)="changePageSize()"
        >
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="100">100</option>
        <option value="100000">Tout</option>
    </select>
}

