<div>Cooking</div>
<div>Cooking level : {{player.cookingLevel}}</div>
<span class="p-2">
    <span class="p-1">You have {{ player.getNbItemInInventory(itemId.RawFish) }} raw fish and {{ player.getNbItemInInventory(itemId.Fish) }} fish</span>
    @if (player.hasItemInInventory(itemId.RawFish)) {
        <button v-if="player.hasItemInInventory(ItemId.RawFish)" (click)="cookFish(itemId.RawFish, itemId.Fish)">Cook 1 fish</button>
    }
</span>
<span class="p-2">
    @if (player.cookingLevel >= 5) {
        <span class="p-1">You have {{ player.getNbItemInInventory(itemId.RawCatfish) }} raw catfish and {{ player.getNbItemInInventory(itemId.Catfish) }} catfish</span>
    }
    @if (player.cookingLevel >= 5 && player.hasItemInInventory(itemId.RawCatfish)) {
        <button (click)="cookFish(itemId.RawCatfish, itemId.Catfish)">Cook 1 catfish</button>
    }
</span>