.selectedItem {
    font-weight: bold;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.filterButton {
    width: 150px;    
    border: 1px solid black;
}