.active{
    background-color: green;
    border: 3px solid yellow;
}

.no-active{
    background-color: grey;
}

.active-border {
    border: 5px solid yellow;
}

.no-active-border {
    border: 5px solid blue;
}

.apple {
    background-color: red;
    border: 10px solid green;
}