<h1>First Angular App</h1>
<h2>{{ title }}</h2>
<p>{{ 2+1 }}</p>
<app-navbar></app-navbar>
<app-header></app-header>

<img src="{{ imgURL }}" title="string interpolation">
<img [src]="imgURL" title="binding">


<button>Not disabled</button>
<button disabled="{{isDisabled}}">Disable using string interpolation</button>
<button [disabled]="isDisabled">Disable using property binding</button>

<p>
<!-- class binding -->
<button [class.active]="isActive"
  [class.no-active]="!isActive"
  [class.active-border]="isActive"
  [class.no-active-border]="!isActive"
  >Click me</button>

  <button [class.apple]="fruitName == 'Apple'">Fruit Ninja</button>

  <p>
    <!-- style binding -->
    <button [style.backgroundColor]="isActive? 'red' : 'green' "
    [style.border]="isActive? '3px solid yellow' : '' ">
    Click</button>

    <button [class.active]="isActive">Class binding</button>
<p>
    <!-- Events -->
    <button (click)="buttonClick()" (mouseover)="onButton()">Click me</button>

    <input type ="text" (keyup)="keyEnter($event)">

    <input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput">

<p> <!-- data binding -->
    {{userName}}
    <input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)">

    <div>two way data binding
    <input type="text" [(ngModel)]="userName" >

    <input type="text" [value]="textValue" (keyup.enter)="onKeyup()">

    <input type="text" [(ngModel)]="textValue" >
</div>

<!-- ifs-->
 <button (click)="toggleIsLogged()">Toggle log in</button>
<h2 *ngIf="isLoggedIn; else message">{{userName}} using ng-if</h2>
<h2 *ngIf="!isLoggedIn">Not logged in using ng-if</h2>

@if (isLoggedIn)
{
    <h3 >{{userName}} using if</h3>
} @else {
    <h2>Not logged in using if</h2>
}

<ng-template #message>
    <h4>user is not logged in using ng-template</h4>
</ng-template>

<button (click)="countLoginAttempts()" *ngIf="loginCount <= 3">Log In</button>
{{loginCount}}

<h4 *ngIf="loginCount > 3">Exceeded 3 login Attempts, try again later using ng-if</h4>

@if (loginCount <= 3)
{
<button (click)="countLoginAttempts()">Login syntax</button>
}

@if (loginCount > 3)
{
<h4>Exceeded 3 login Attempts, try again later using if</h4>
}

<button (click)="toggleRole()">Toggle role</button>
<h4 *ngIf="userRole == 'Admin'; else memberMessage">Welcome admin</h4>

<ng-template #memberMessage>
    <h4>Welcome member</h4>
</ng-template>

@if (userRole == 'Admin'){
    <h4>Welcome admin</h4>
} @else if (userRole == 'Member') {
    <h4>Welcome member</h4>
}
<ng-template #callToAction>
    <p>Call to action</p>
    <button>Join now</button>
</ng-template>

<div [ngTemplateOutlet]="callToAction">
     <h5>Sidebar</h5>
</div>
<div [ngTemplateOutlet]="callToAction">
    <h5>Hero</h5>
</div>
<div [ngTemplateOutlet]="callToAction">
     <h5>Footer</h5>
</div>
