@model ReceiptsWeb.Models.Products

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Create"];
}

<h1>@ViewData["Title"]</h1>

<h4>@SharedLocalizer["Products"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReceipt" class="control-label"></label>
                <input asp-for="DateReceipt" class="form-control" />
                <span asp-validation-for="DateReceipt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceName" class="control-label"></label>
                <input asp-for="SourceName" class="form-control" />
                <span asp-validation-for="SourceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceLine" class="control-label"></label>
                <input asp-for="SourceLine" class="form-control" />
                <span asp-validation-for="SourceLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullData" class="control-label"></label>
                <input asp-for="FullData" class="form-control" />
                <span asp-validation-for="FullData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
