@model List<ReceiptsWeb.Models.Tag>

    <style>
    .search-tag-detail {
        display: flex;
        flex-direction: row;
        padding: 3px;
        background-color: #d9edf7;
        border-radius: 3px;
    }

    .search-tag {
        display: flex;
        margin: 2px 2px 2px 0px;
    }

    .tag-results {
        display: flex;
        flex-direction: row;
    }

    </style>

@foreach (var item in Model)
{
    <div class="search-tag" id="@item.Id" >
        <div class="search-tag-detail">@item.Name
             <span class="search-tag-close" >
                <span aria-hidden="true">&times;</span>
             </span>
        </div>
</div>

}