@model IEnumerable<ReceiptsWeb.Models.Products>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
<label>Prices start at 0 <input type='checkbox' onclick='changeChartYAxis(this);'></label>

<script>
xValues = [
    @foreach (var item in Model)
    {
        <text>"</text>
        @item.DateReceipt.ToShortDateString()
        <text>",</text>
    }
];
yValues = [
    @foreach (var item in Model)
    {
        @item.Price.ToString().Replace(',','.')
        <text>,</text>
    }
];

 var myChart = new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      label: '@Model.FirstOrDefault()?.Name',
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    plugins: {
        legend: {display: true},
    }
  }
});

function changeChartYAxis(cb) {
    if (cb.checked) {
        myChart.options.scales.y = { min: 0 }
    }
    else {
        myChart.options.scales.y = {  }
    }
    myChart.update()
}

</script>