html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.buttonAsLink {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    /*font-family: arial, sans-serif;*/
    /*input has OS specific font-family*/
    color: #0d6efd;
    text-decoration: underline;
    cursor: pointer;
}

.draggable_touch {
    cursor: move;
}

.isResizable {
    margin: 0px auto;
    padding: 5px;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    /* Not usable in IE */
    resize: horizontal;
    /*width: 800px;
    height: 400px;
    min-width: 280px;
    min-height: 280px;
    max-width: 1200px;
    max-height: 600px;*/
    /*position: relative;*/
    /*height: 100%;*/
    /*width: 100%;*/
}

.inline {
    display:inline;
}

table.alternateLines > tbody > tr:nth-child(even) {
    background-color: #eeeeee;
}